.subirFoto{
    width: 80!important;
    height: 80!important;
    margin-right: 15px;
}
.subirFoto img{
    width: 80!important;
    height: 80!important;
    margin-right: 15px;
}

.subirFoto-boton{
    width: 80;
    height: 80;
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 10px;
    top: 25px;
    
}
